/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  background-color: #042940;
  height: 15vh;
  line-height: 15vh;
}

.imagem {
  display: flex;
  justify-content: center;
  margin-left: 3vw;
  height: 15vh;
}

.imagem img {
  height: 14vh;
  width: 10vw;
}

.Links {
  font-size: 28px;
  margin-right: 10vw;
}

.Links a {
  text-decoration: none;
  color: white;
  margin-right: 60px;
}

/* --------------- */

.content {
  display: flex;
  justify-content: center;
  height: 85vh;
  width: 100vw;
  background-color: #eeeeee;
}

.gridContent {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  height: 85vh;
  width: 100vw;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box a {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: white;
}

.box2 a {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: white;
}

.button div {
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: #042940;
  line-height: 50px;
  border-radius: 2vh;
}

.button div:hover {
  border: 1px solid #dbf227;
}

.box2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.imgTeam {
  align-self: center;
}

.infoTeam {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  justify-content: center;
  align-self: center;
  vertical-align: middle;
}

.img {
  width: 275px;
  height: 183px;
  border-radius: 2vh;
  overflow: hidden;
}
.nomeTime h3 {
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.jogadores {
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: #042940;
  line-height: 50px;
  border-radius: 2vh;
}

.box4 {
  grid-area: 2 / 1 / 2 / span 3;
}

.box4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.qualify {
  height: 250px;
  width: 1200px;
  background-color: white;
  border: #d9d9d9 solid;
  border-radius: 2vh;
}
